<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workmanager_notifications">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkManagerNotifications">
        <activity
            android:name="com.lazypotato.workmanager_notifications.WorkManagerActivity"
            android:exported="true" />
        <activity
            android:name="com.lazypotato.workmanager_notifications.NotificationActivity"
            android:exported="true" />
        <activity
            android:name="com.lazypotato.workmanager_notifications.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lazypotato.workmanager_notifications.SampleActivity"
            android:exported="true" />

        <receiver android:name="com.lazypotato.workmanager_notifications.receiver.MyBroadcastReceiver"  android:exported="false">
            <intent-filter>
                <action android:name="com.lazypotato.workmanager_notifications.notifications.tap_action.snooze"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.lazypotato.workmanager_notifications.receiver.MediaBroadcastReceiver"  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.lazypotato.workmanager_notifications.receiver.MessageBroadcastReceiver"  android:exported="false">
            <intent-filter>
                <action android:name="com.lazypotato.workmanager_notifications.notifications.tap_action.message"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
